* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html,
body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
body {
    font-size: 1.4rem;
    padding: 10px;
    margin: 30px;
    max-width: 1200px;
}
header {
   
    background-color: white;

}
nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
nav .list-item ul {
    display: flex;
    gap: 50px;
    text-align: center;
    padding-inline-end: 50px;
}
nav .list-item ul li {
    list-style: none;
    font-weight: 100;
    font-size: 18px;  
}
.hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero .hero-content h1 {
    font-size: 60px;  
}
.hero .hero-content h4 {
    font-size: 30px;
    font-weight: 80;
    line-height: 40px;
}
.hero .hero-img img {
    border-radius: 5rem;
}
.h-card {
    display: flex;
    margin: 2rem 1rem;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
    overflow: hidden;
}
.h-card .h-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
.h-card .h-content .more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-card .h-content .more button {
    border: none;
    background-color: white;
    color: black;
}
.card-container {
    display: flex;
    justify-content: space-between;
}
.card-container .card {
    padding: 20px;
    border: 0.8px solid grey;

}
.card-container .card .card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}
.card-container .card .card-content .more{
    display: flex;
    justify-content: space-between;
}
.card-container .card .card-content .more button{
    border: none;
    background-color: white;
    color: black;
}
.long-card {
    display: flex;
    margin: 20px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 0.5rem;
}
.long-card .long-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.long-card .long-content .more {
    display: flex;
    justify-content: space-between;
}
.long-card .long-content .more button {
    border: none;
    background-color: white;
    color: black;
}
footer {
    height: 10px;
    background-color: white;
    color: black;
}
footer nav {
    display: flex;
    justify-content: center;
    text-align: center;
}